{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container justify-content-center align-items-center min-vh-100">
    <h1 class="profile__h1 mb-4">Профиль</h1>
        <div class="main-body w-100">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card text-center py-4">
                        <div class="d-flex flex-column align-items-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle mb-3" width="180" height="180">
                            <h4 class="mb-2">{{ page_user.username }}</h4>
                            <p class="text-secondary">{{ user.first_name }} {{ user.last_name }}</p>
                            <div class="text-center mt-3">
                                <button class="btn btn-danger btn-sm w-50 mt-3"><a href="{% url 'logout' %}" style="color: white;">Выйти</a></button>
                                <a href="#" class="help w-50 mt-3">Поддержка</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">Информация об аккаунте</h5>
                            <div class="row mb-3">
                                <div class="col-sm-4"><strong>Имя:</strong></div>
                                <div class="col-sm-8 text-secondary">{{ user.first_name }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4"><strong>Фамилия:</strong></div>
                                <div class="col-sm-8 text-secondary">{{ user.last_name }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4"><strong>Email:</strong></div>
                                <div class="col-sm-8 text-secondary">{{ user.email }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4"><strong>Дата регистрации:</strong></div>
                                <div class="col-sm-8 text-secondary">{{ user.created_at|date:"d F Y" }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-4">Заказы</h5>
                            <div>
                                <div class="mb-3 border p-3 rounded shadow-sm">
                                    <strong>Номер заказа:</strong> <br>
                                    <strong>Дата:</strong><br>
                                    <strong>Статус:</strong><br>
                                    <strong>Сумма:</strong>  ₽<br>
                                </div>
                                <p>У вас пока нет заказов.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-4">Ваши заявки</h5>
                            <div>
                                <div class="row mb-3">
                                    <div class="col-sm-4"><strong>Тема:</strong></div>
                                    <div class="col-sm-8 text-secondary"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4"><strong>Сообщение:</strong></div>
                                    <div class="col-sm-8 text-secondary"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4"><strong>Дата создания:</strong></div>
                                    <div class="col-sm-8 text-secondary"></div>
                                </div>
                                <hr>
                                <p class="text-secondary">У вас пока нет заявок.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}