{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vortex | Регистрация</title>
</head>
{% block content %}
<div>
    <main class="overflow-hidden">
        <section class="login-page pt-50 pb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-9 wow fadeInUp animated">
                        <div class="login-register-form" style="background-image: url('{%  static '/img/authentication/login-bg.png' %}');">
                            <div class="top-title text-center">
                                <h2>Регистрация</h2>
                                <p class="login-question">
                                    Есть аккаунт? <a href="{% url 'login' %}">Вход</a>
                                </p>
                                <div id="login-feedback" class="text-danger" style="text-align: center;"></div>
                            </div>
                            <form class="common-form" method="POST">

                                <div class="form-group">
                                    <input id="name" name="name" type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                                           placeholder="Ваше имя" />
                                    {% for error in form.name.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <input id="surname" name="surname" type="text" class="form-control {% if form.surname.errors %}is-invalid{% endif %}"
                                           placeholder="Ваша Фамилия" />
                                    {% for error in form.surname.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <input id="login" name="login" type="text" class="form-control {% if form.login.errors %}is-invalid{% endif %}"
                                           placeholder="Логин" />
                                    {% for error in form.login.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="form-group">
                                    <input id="email" name="email" type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                                           placeholder="Email" />
                                    {% for error in form.email.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="form-group eye">
                                    <input id="password" name="password" type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                                           placeholder="Пароль" />
                                    {% for error in form.password.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="form-group eye">
                                    <input id="confirm_password" name="confirm_password" type="password"
                                           class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
                                           placeholder="Подтверждение пароля" />
                                    {% for error in form.confirm_password.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="checkk">
                                    <div class="form-check p-0 m-0">
                                        <input type="checkbox" id="accept_terms" name="accept_terms"
                                               class="{% if form.accept_terms.errors %}is-invalid{% endif %}"
                                               {% if form.accept_terms.value %}checked{% endif %} />
                                        <label class="p-0" for="accept_terms">
                                            Принимаю Условия и Политику конфиденциальности
                                        </label>
                                        {% for error in form.accept_terms.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <button type="submit" class="btn--primary style2">Регистрация</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}