{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <main class="overflow-hidden">
        <section class="login-page pt-50 pb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-9 wow fadeInUp animated">
                        <div class="login-register-form" style="background-image: url('{%  static '/img/authentication/login-bg.png' %}');">
                            <div class="top-title text-center">
                                <h2>Регистрация</h2>
                                <p class="login-question">
                                    Есть аккаунт? <a href="{% url 'login' %}">Вход</a>
                                </p>
                                <div id="login-feedback" class="text-danger" style="text-align: center;"></div>
                            </div>
                            <form class="common-form" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="checkk">
                                    <div class="form-check p-0 m-0">
                                        <input type="checkbox" id="accept_terms" name="accept_terms"
                                               class="{% if form.accept_terms.errors %}is-invalid{% endif %}"
                                               {% if form.accept_terms.value %}checked{% endif %} />
                                        <label class="p-0" for="accept_terms">
                                            Принимаю Условия и Политику конфиденциальности
                                        </label>
                                        {% for error in form.accept_terms.errors %}
                                            <div class="invalid-feedback d-block">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <button type="submit" class="btn--primary style2">Регистрация</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}