{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="shortcut icon" href="{% static '/img/logos/vortex_favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/bootstrap.5.1.1.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="header-default">
        <div class="menubox">
            <div class="main-menu">
                <div class="container">
                    <div class="left">
                        <div class="address">
                            <img src="{% static '/img/main/placemark.png' %}" alt="Местоположение">
                            <p>Калуга, Грабцевское шоссе 128</p>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="search-box-holder">
                            <div class="search-form">
                                <form action="#" method="GET">
                                    <div class="form-group search-box menu d-flex flex-column align-items-center">
                                        <input type="text" name="query" class="form-control" placeholder="Поиск продукции..." value="">
                                        <span class="search-icon"><img src="{% static '/img/icons/loupe_icon.png' %}"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <ul class="main-menu__widge-box d-flex align-items-center">
                            <li class="d-lg-block d-none"><a href="#">Избранное</a></li>
                            <li class="d-lg-block d-none"><a href="#">О нас</a></li>
                            <li class="d-lg-block d-none"><a href="#">Контакты</a></li>
                            <li class="d-lg-block d-none">
                                {% if user.is_anonymous %}
                                <a href="{% url 'login' %}"><img src="{% static '/img/icons/user_icon.png' %}" alt="Личный кабинет"></a>
                                {% else %}
                                <a href="{% url 'profile' %}"><img src="{% static '/img/icons/user_icon.png' %}" alt="Личный кабинет"></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="dividing-hr-header">
            <div class="mega-menu-default mega-menu d-lg-block d-none">
                <div class="container position-relative">
                    <div class="row">
                        <nav>
                            <ul class="page-dropdown-menu d-flex align-items-center justify-content-center">
                                <div class="middle">
                                    <a class="logo" href="{% url 'index' %}"><img src="{% static '/img/logos/vortex_logo.png' %}" alt="Vortex"></a>
                                </div>
                                <li class="dropdown-list"><a href="#"><span>ВИДЕОКАРТЫ</span></a></li>
                                <li class="dropdown-list"><a href="#">ПРОЦЕССОРЫ</a></li>
                                <li class="dropdown-list"><a href="#"><span>ОПЕРАТИВНАЯ ПАМЯТЬ</span></a></li>
                                <li class="dropdown-list"><a href="#"><span>КОРПУСА</span></a></li>
                                <li class="dropdown-list"><a href="{% url 'computers' %}">ГОТОВЫЕ СБОРКИ</a></li>
                                <li class="dropdown-list"><a href="#"><span>ДРУГОЕ</span></a></li>
                                <li class="dropdown-list"><a href="#"><span>НОВОСТИ</span></a></li>
                                <li class="dropdown-list"><a href="#" class="number cart-icon"><img src="{% static '/img/icons/cart_icon.png' %}" alt="Корзина"><span class="total">{{ cart_items_count }}</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

        <footer class="overflow-hidden footer-default footer-style-1">
            <div class="footer-default__main-footer position-relative pb-5 pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-30 wow fadeInUp animated">
                            <div class="footer-default__single-box">
                                <div class="company-info">
                                    <div class="footer-logo"><a href="#"><img src="{% static '/img/logos/vortex-footer_logo.png' %}" alt=""></a></div>
                                    <div class="text1">
                                        <p>© 2024 vortex. Все права защищены</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-30 wow fadeInUp animated">
                            <div class="footer-default__single-box">
                                <ul class="footer-address-box">
                                    <h4>8 (800) 555 35 35</h4>
                                    <h4 style="color: #EB4242;">vortex@mail.ru</h4>
                                    <h4>Калуга, Грабцевское шоссе 128</h4>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-30 wow fadeInUp animated">
                            <div class="footer-default__single-box">
                                <div class="footer-links">
                                    <div class="text1 pt-3">
                                        <a href="#">
                                            <h4>Каталог</h4>
                                        </a>
                                    </div>
                                    <div class="text2">
                                        <a href="#">
                                            <h4>О нас</h4>
                                        </a>
                                    </div>
                                    <div class="text3">
                                        <a href="#">
                                            <h4>Поддержка</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>